* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: none;
}
.landingPageContainer {
  background-image: url("./assets/images/landing-page/landing.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.landingPageFooter {
  padding: 16px 8px;
  width: 100%;
  height: 221px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #646161b0;
}
.landingPageFooter > h2 {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-align: center;
}
.landingPageFooter > p {
  width: 200px;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-align: center;
}
.mainButtonContainer {
  margin-top: 25px;
  display: flex;
  justify-self: center;
}
.mainButton {
  width: 343px;
  height: 48px;
  border-radius: 8px;
  padding: 10px;
  background-color: #fdd637;
  color: #010101;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-family: "Lora", sans-serif;
  cursor: pointer;
}

/* home page */
.homePageContainer {
  width: 100vw;
  height: 160vh;
  background-color: #494947;
  padding: 25px 15px;
}
/* header */
.headerDivContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.profileIcon {
  width: 64px;
  height: 64px;
}
.welcomeMessage {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.handshakeIcon,
.notificationIcon {
  width: 32px;
  height: 32px;
}
.handshakeIcon {
  margin-right: 20px;
}

/* section 1 */
.homePageSection1Container {
  margin-bottom: 40px;
}
.homePageSection1Container > h2 {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin-bottom: 10px;
}
.homePageSection1Container > div {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
}
.homePageSection1ContainerFilm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.homePageSection1ContainerFilm > img {
  width: 123px;
  height: 172px;
  border-radius: 8px;
}
.homePageSection1ContainerFilm > h3 {
  text-align: center;
  font-family: "Inria Serif", sans-serif;
  font-weight: 100;
  font-size: 11px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

/* section 2 */
.homePageSection2Container > h2 {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin-bottom: 10px;
}
.homePageSection2FilmsContainer {
  display: flex;
  gap: 20px;
}
.homePageSection2FilmsContainer > div {
  margin-bottom: 10px;
}
.homePageSection2FilmSecondContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
}
.homePageSection2FilmsImage {
  width: 66px;
  height: 97px;
  border-radius: 8px;
}
.homePageSection2FilmName {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.homePageSection2FilmRateContainer {
  display: flex;
}
.homePageSection2FilmRateContainer > h4,
.homePageSection2FilmClockContainer > h4 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.homePageSection2FilmsStarIcon {
  width: 36px;
  height: 20px;
}
.homePageSection2FilmClockContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homePageSection2FilmClockContainer > img {
  width: 24px;
  height: 24px;
}
.homePageSection2FilmWatchDiv > img {
  width: 30px;
  height: 30px;
}

/* footer */

.homePageFooterContainer {
  display: flex;
  position: fixed;
  top: 89%;
  left: 0%;
  width: 100%;
  height: 100px;
  background-color: #80807fb2;
}
.homePageFooterIconsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.homePageFooterIconsContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.homePageFooterIconsContainer > div > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.homePageFooterIconsContainer > div > h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

/* reserve pages styles */
.reservePagesContainer {
  width: 100vw;
  height: 120vh;
  padding: 25px 10px;
  background-color: #494947;
}
.reservePagesImage {
  width: 100%;
  min-height: 349px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  height: auto;
  margin-bottom: 20px;
}

/* movie details page */
.movieDetailsPageSec1Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.movieDetailsPageSec1Container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.movieDetailsPageSec1Container > h2 {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.movieDetailsPageSec1Container > h3 {
  font-family: "Inria Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.movieDetailsPageSec2Container {
  display: flex;
  justify-content: space-evenly;
}
.movieDetailsPageSec2Container > a > button {
  margin-top: 7.8px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 18px;
  border: 1px solid #fdd637;
  border-radius: 10px;
  background-color: #2d2d2c;
  font-family: "Inria Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
}
.starRateCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.starRateCont > img {
  width: 48px;
  height: 27px;
}
.starRateCont > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.starRateCont > div > h4,
.starRateCont > div > h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #ffffff;
}
.starRateCont > div > h3 {
  font-size: 15px;
  color: #fdd637;
}
/* */
.detailsMovieDescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsMovieDescriptionContainer > p {
  margin-top: 15px;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #ffffffad;
}

/* reservation page */
.reservePagesContainer > h2 {
  max-height: 500px;
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-size: 24px;
  color: #ffffff;
  margin-top: 30px;
}

.reservePagesImageContainer > img {
  max-width: 500px;
  max-height: 500px;
}
.reservePagesImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reservePagesImageContainer > div {
  position: absolute;
  bottom: 0;
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ccca3cab;
}
.reservePagesImageContainer > div > h2 {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.dateContainer {
  margin-top: 50px;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  margin-bottom: 80px;
}
.dateContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 5px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #80807f;
  transition: all 0.2s;
}
.dateContainer > div > h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.dateContainer > div > h4 {
  font-family: "Lora", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}
.active {
  transform: translateY(-10px);
  background-color: #ffd700;
}
.dateContainer > div.active h3,
.dateContainer > div.active h4 {
  color: #000000;
}

/* buy ticket page */
.buyTicketPageTimesContainer {
  padding: 30px;
  display: flex;
  gap: 20px;
}
.buyTicketPageTimesContainer > h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.buyTicketPageTimesContainer > h4:nth-child(1) {
  top: 100px;
  left: 20px;
  opacity: 0.3;
}
.buyTicketPageTimesContainer > h4:nth-child(2) {
  top: 75px;
  left: 80px;
  opacity: 0.5;
}
.buyTicketPageTimesContainer > h4:nth-child(3) {
  top: 45px;
  left: 140px;
}
.buyTicketPageTimesContainer > h4:nth-child(4) {
  top: 75px;
  left: 200px;
  opacity: 0.5;
}
.buyTicketPageTimesContainer > h4:nth-child(5) {
  top: 100px;
  left: 260px;
  opacity: 0.3;
}
.calendarTopBottomContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.calendarTopBottom {
  width: 30px;
  height: 30px;
  background-color: #2c2c2b;
  border-radius: 10px;
  cursor: pointer;
}
.calendarBodyContainer {
  display: grid;
  grid-row: auto;
  place-items: center;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-bottom: 10px;
}
.calendarBody {
  width: 30px;
  height: 30px;
  background-color: #2c2c2b;
  border-radius: 10px;
  cursor: pointer;
}
.calendarBody:nth-child(15) {
  background-color: #ffffff;
}
.calendarBody:nth-child(16) {
  background-color: #ffffff;
}
.calendarBody:nth-child(23) {
  background-color: #ffffff;
}
.calendarBody:nth-child(26) {
  background-color: #ffffff;
}
.calendarBody:nth-child(27) {
  background-color: #ffffff;
}
.calendarBody:nth-child(28) {
  background-color: #ffffff;
}
.calendarBody:nth-child(5) {
  background-color: #ffffff;
}
.calendarBody:nth-child(10) {
  background-color: #fdd637;
}
.calendarBody:nth-child(36) {
  background-color: #fdd637;
}
.calendarStatusSignContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.calendarStatusSignContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.calendarStatusSignContainer > div > h4 {
  font-size: 16px;
  color: #ffffff;
}
.calendarStatusSignContainer > div > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.calendarStatusSignContainer > div:nth-child(1) > div {
  background-color: #2c2c2b;
}
.calendarStatusSignContainer > div:nth-child(2) > div {
  background-color: #ffffff;
}
.calendarStatusSignContainer > div:nth-child(3) > div {
  background-color: #fdd637;
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) {
  .profileIcon {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .welcomeMessage {
    font-size: 26px;
    cursor: pointer;
  }
  .handshakeIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .notificationIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .homePageSection1ContainerFilm > img {
    width: 323px;
    height: 372px;
    cursor: pointer;
  }
  .homePageSection1ContainerFilm > h3 {
    font-size: 20px;
  }

  .homePageSection2Container > h2 {
    font-size: 25px;
  }
  .homePageSection2FilmsImage {
    width: 166px;
    height: 197px;
    cursor: pointer;
  }
  .homePageSection2FilmName {
    font-size: 25px;
  }
  .homePageSection2FilmRateContainer > h4,
  .homePageSection2FilmClockContainer > h4 {
    align-self: center;
    font-size: 25px;
  }
  .homePageSection2FilmsStarIcon {
    width: 70px;
    height: 50px;
  }
  .homePageSection2FilmClockContainer > img {
    width: 34px;
    height: 34px;
  }
  .homePageSection2FilmWatchDiv > img {
    width: 50px;
    height: 40px;
  }

  .detailsMovieDescriptionContainer > p {
    font-size: 16px;
  }
  .reservePagesImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reservePagesImage {
    max-width: 600px;
    margin: 0 auto;
    display: block;
  }
}

/* Desktop (1025px and up) */
@media (min-width: 1025px) {
  .reservePagesImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reservePagesImage {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
  }
}
